<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,9}</string>
                <key>spriteSourceSize</key>
                <string>{25,9}</string>
                <key>textureRect</key>
                <string>{{118,1},{25,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,11}</string>
                <key>spriteSourceSize</key>
                <string>{33,11}</string>
                <key>textureRect</key>
                <string>{{83,1},{33,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,13}</string>
                <key>spriteSourceSize</key>
                <string>{39,13}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,13}</string>
                <key>spriteSourceSize</key>
                <string>{39,13}</string>
                <key>textureRect</key>
                <string>{{42,1},{39,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,13}</string>
                <key>spriteSourceSize</key>
                <string>{39,13}</string>
                <key>textureRect</key>
                <string>{{42,1},{39,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{144,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17f356b1f27810ec751dd4c962251dab:fa06ec1f5e2bf89459b2a4cca31c2883:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
